.title {
    width: 400px;
    margin: 0 auto;
  }
  .container {
    width: 900px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
  }
  .boxes {
    height: 180px;
    background: blue;
    margin: 5px;
    flex-basis: 180px;
    
  }