.title {
    width: 400px;
    margin: 0 auto;
  }
.container {
  width: 900px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-flow: row wrap;
}
.cardContainer{
  width: 180px;
  height: 180px;
  position: relative;
  perspective: 800px;
  background-size: 100%;
  flex-basis: 180px;
  margin: 5px;
  perspective: 800px;
}
.card{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}  
.card div{
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.frontFace {
  height: 180px;
  background-size: 100%;
  margin: 5px;
  width: 180px;
  flex-basis: 180px;
  background-color: red;
  position: absolute;
  z-index: 1;    
}
.backFace {
  height: 180px;
  background-size: 100%;
  margin: 5px;
  width: 180px;
  flex-basis: 180px;
  position: absolute;
  transform: rotateY( 180deg );
  backface-visibility: hidden;
}
.flipped{
  transform: rotateY( 180deg );
}
.hidden{
  visibility: hidden;
}
